<!DOCTYPE html>
<html>
  {{>Header}}
  <body>
      <div class="row">

         {{#search}}
         <div class="SearchResults">
          <a href={{id}}>{{name}}</a>
        <p>{{type}} - {{brewery}}</p>

        </div>
       {{/search}}

    </div>
  </body>
</html>
