<!DOCTYPE html>
<html>
  {{>Header}}
  <body>
      <div class="row">

         {{#beerdetail}}
         <div class="Beer">
          <img class="pic" src={{brewery}} alt="{{name}}"/>
         <a href={{id}}>{{name}}</a>
        <p>{{type}} - {{brewery}}</p>

        </div>
       {{/beerdetail}}

    </div>
  </body>
</html>
