<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <div class="container main center-block">
      <div class="inner cover">
        <h1 class="cover-heading">BeerMaester</h1>
        <p class="lead">
          <a href="/beers/searchOptions" class="btn btn-lg btn-default">Search for a beer</a>
          <a href="/beers/postNew" class="btn btn-lg btn-default">Add a new beer</a>
        </p>
      </div>
    </div>
    {{>_footer}}
  </body>
</html>
